/* hide auto-injected site title link */
.markdown-body > h1 > a[href*="github.io/portfolio"] {
  display: none;
}

/* set main content width */
main {
  width: 75%;
  max-width: 2000px;
}

/* proper indentation for lists */
main ul,
main ol {
  padding-left: 2em;
}

/* nested lists */
main li > ul,
main li > ol {
  padding-left: 2em;
}